/* Modal styles */
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background: rgba(0, 0, 0, 0.4); /* fallback for overlay */
	justify-content: center;
	align-items: center;
}
.modal:not(.hidden) {
	display: flex;
}
.modal-content {
	background: var(--c_panel);
	margin: auto;
	padding: var(--s_panel_padding);
	border-radius: var(--br_large);
	box-shadow: var(--sh_panel);
	min-width: 320px;
	max-width: 90vw;
	color: var(--c_text);
	font-family: var(--f_f_text);
	border: rgba(255, 255, 255, 0.25) solid 1px;
}
.input-group {
	margin-bottom: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: var(--s_label_gap);
}

.input-group * {
	padding: 12px 16px;
}

.radio-group {
	display: flex;
	gap: 1.5rem;
	margin-top: 0.5rem;
}
.radio-group label {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	font-family: var(--f_f_text);
	color: var(--c_text);
}

.radio-element:has(input:checked) {
	background-color: var(--c_primary);
}

.radio-element:has(input) {
	background-color: var(--c_secondary);
	border-radius: var(--br_medium);
}

#start-task-btn,
#modal-start-task {
	margin-top: 1.5rem;
	padding: 0.7rem 1.5rem;
	font-size: var(--f_s_text);
	border: none;
	border-radius: var(--br_small);
	background: var(--c_primary);
	color: var(--c_panel);
	cursor: pointer;
	transition: background 0.2s;
	font-family: var(--f_f_text);
}
#start-task-btn:hover,
#modal-start-task:hover {
	background: var(--c_accent);
}
